*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243,244,246);
}

.container {
    padding: 20px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid;
    border-color: rgb(229 231 235);
}

.wrapper {
    display: flex;
    width: 1280px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.first-content {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 10px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.content-news-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 350px;
    width: 265px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}
.content-news-2 {
    font-size: 15px;
    grid-column: 2 / 8;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    background-image: url(img/klix2.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    color: #fffeee;
}

.content-news-3 {
    grid-column: 8 / 9;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 350px;
    width: 265px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}

.text-position {
    position: relative;
    width: 400px;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}


.title-2 {
    position: absolute;
    font-size: 15px;
    color: white;
    bottom: -220px;
    font-weight: bold;
}
.subtitle {
    position: absolute;
    font-size: 20px;
    bottom: -280px;
}





.items {
    display: flex;
    max-width: 1280px;
    font-family: sans-serif;
   /* margin-left: auto;
    margin-right: auto;*/
}

.logo{
    width: 20px;
    height: 10px;

}

.main {

    width: 1200px;
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}



.content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid;
    border-color: rgb(229 231 235);
}




.item {

    padding: 2px;
    position: relative;

}


.item-2 {
    border: 1px solid;
    border-color: rgb(229 231 235);
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: start;
    flex-grow: 2;
    grid-column: 2/span 2;


}


.box {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.box-red {
    background-color: red;
}

.box-dimgray {
    background-color: dimgray;
}

.box-orange {
    background-color: orange;
}

.box-green {
    background-color: green;
}
.box-purple {
    background-color: purple;
}

.box-olive {
    background-color: olive;
}

.box-dodgerblue {
    background-color: dodgerblue;
}

.box-royalblue {
    background-color: royalblue;
}

.box-gray {
    background-color: gray;
}
.box-cornflowerblue{
    background-color: cornflowerblue;
}