*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243,244,246);
}

.container {
    padding: 20px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid;
    border-color: rgb(229 231 235);
}

.wrapper {
    display: flex;
    width: 1280px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.breaking-news {
    background-color: white;
    margin-top: 15px;
    padding: 15px 0 15px 0;
    display: flex;
    width: 1280px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.breaking-news-content {
    width: 1280px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-column-gap: 2px;
    margin-right: auto;
    margin-left: auto;
}

.breaking-news-grid {
    display: flex;
    grid-column: 1 / 2;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 260px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}
.breaking-news-grid-2 {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 4;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 260px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}
.breaking-news-grid-3 {
    display: flex;
    flex-direction: column;
    grid-column: 5 / 6;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 260px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}

.breaking-news-grid-4 {
    display: flex;
    flex-direction: column;
    grid-column: 7 / 8;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 260px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}
.breaking-news-grid-5 {
    display: flex;
    flex-direction: column;
    grid-column: 7 / 8;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 260px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}



.grid-wrapper {
    display: block;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}
.first-content {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(10,minmax(0,1fr));
    grid-column-gap: 2px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.content-news-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 350px;
    width: 250px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}
.content-news-2 {
    font-size: 15px;
    grid-column: 3 / 7;
    display: block;
    padding: 8px;
    width: 100%;
    border-color: rgb(229, 231, 235);
    background-image: url(img/klix2.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    color: #fffeee;
}

.content-news-3 {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 350px;
    width: 265px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}

.content-news-4 {
    display: flex;
    grid-row: 2 / 3;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 250px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;

}
.content-news-5 {
    display: flex;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 250px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}

.content-news-6 {
    display: flex;
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 255px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}

.conent-news-7 {
    display: flex;
    grid-row: 2 / 3;
    grid-column: 7 / 8;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 300px;
    width: 265px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
}
.sidebar {
    grid-row: 1 / 4;
    grid-column: 9 / 11;

}
.sidebar-2 {
    grid-column: 9 / 10;

}

.sidebar-content {
    height: 650px;
    padding: 8px;
    display: flex;
    overflow-y:scroll;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
}


.sidebar-2 {
    margin-left: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: start;

}



.text-position {
    position: relative;
    width: 400px;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-title {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
.sidebar-subtitle {
   padding-bottom: 5px;
}





.title-2 {
    position: absolute;
    font-size: 15px;
    color: white;
    bottom: -220px;
    font-weight: bold;
}



.subtitle {
    position: absolute;
    font-size: 20px;
    bottom: -280px;
}





.items {
    display: flex;
    max-width: 1280px;
    font-family: sans-serif;
   /* margin-left: auto;
    margin-right: auto;*/
}

.logo{
    width: 20px;
    height: 10px;

}

.main {

    width: 1280px;
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}



.content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid;
    border-color: rgb(229 231 235);

}




.item {

    padding: 2px;
    position: relative;

}


.item-2 {
    border: 1px solid;
    border-color: rgb(229 231 235);
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: start;
    flex-grow: 2;
    grid-column: 2/span 2;


}


.box {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.box-darkorange {
    background-color: darkorange;
}

.box-red {
    background-color: red;
}

.box-dimgray {
    background-color: dimgray;
}

.box-orange {
    background-color: orange;
}

.box-green {
    background-color: green;
}
.box-purple {
    background-color: purple;
}

.box-goldenrod {
    background-color: goldenrod;
}


.box-olive {
    background-color: olive;
}

.box-steelblue {
    background-color: steelblue;
}

.box-dodgerblue {
    background-color: dodgerblue;
}

.box-royalblue {
    background-color: royalblue;
}

.box-gray {
    background-color: gray;
}
.box-cornflowerblue{
    background-color: cornflowerblue;
}