* {
    margin: 0;
    padding: 0;
}

.main {

}

.logo {
    height: 100%;
}
.wrapper{
    display: flex;
    justify-content: center;

}
.navbar {
    max-width: 1200px;
    width: 750px;
    margin-top: 20px;
    display: flex;
    height: 60px;
    align-items: center;
    margin-right: 20%;
}


.navigation {

    display: flex;
}

.navigation > div {
    margin-left: 5px;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 22px;
}

.photo {
    width: 100%;
}
.item {
    max-width: 400px;
    width: 200px;
    padding: 10px;
    border: 1px solid;
    border-color: rgb(229 231 235);

}
.item > div {
    margin-left: 5px;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.naslov {
    color: red;
}
.content {
    display: flex;
    flex-wrap:wrap;
    max-width: 1200px;
    width: 750px;

}