* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 8px 0px 8px 0px;

}



.navbar {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 10px auto 10px auto;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}




.logo {
    width: 80px;
    height: 40px;

}


.box {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.box-red {
 background-color: red;
}

.box-dimgray {
    background-color: dimgray;
}

.box-orange {
    background-color: orange;
}

.box-green {
    background-color: green;
}
.box-purple {
    background-color: purple;
}

.box-olive {
    background-color: olive;
}

.box-dodgerblue {
    background-color: dodgerblue;
}

.box-royalblue {
    background-color: royalblue;
}

.box-gray {
    background-color: gray;
}
.box-cornflowerblue{
    background-color: cornflowerblue;
}

.search {
    margin-left: 10px;
    position: relative;
    display: flex;

}

.searchButton {
    width: 30px;
    height: 30px;
    border: 1px solid #00B4CC;
    background: deepskyblue;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-right: 20%;
    margin-left: 10%;
}



.main {

}

.logo {
    height: 100%;
    cursor: pointer;
}
.wrapper{
margin: 25px;
    display: flex;
    justify-content: center;


}
.navbar {
    max-width: 1200px;
    width: 800px;
    margin-top: 20px;
    display: flex;
    height: 60px;
    align-items: center;
    margin-right: 20%;

}

.hashtag__links {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
    font-family: sans-serif;
    font-size: 20px;


}

.hashtag__links li {
    margin: 10px 0px 10px 10px;
}
.box {
    margin-top: 5px;
    background-color: rgb(211, 61, 61);
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-2 {
    margin-top: 5px;
    background-color: darkorange;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-3 {
    margin-top: 5px;
    background-color: green;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-4 {
    margin-top: 5px;
    background-color: purple;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-5 {
    margin-top: 5px;
    background-color: olive;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-6 {
    margin-top: 5px;
    background-color: dodgerblue;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-7 {
    margin-top: 5px;
    background-color: royalblue;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-8 {
    margin-top: 5px;
    background-color: gray;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-9 {
    margin-top: 5px;
    background-color: cornflowerblue;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.box-10 {
    margin-top: 5px;
    background-color: dimgray;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

.navigation {
    display: flex;
}

.navigation > div {
    margin-left: 5px;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 22px;
}

.photo {
    width: 100%;
}

.photo-2 {
    width: 100%;
}
.item {
    padding: 10px;
    border: 1px solid;
    border-color: rgb(229 231 235);
flex-grow: 1;
}
.item > div {

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.item-2 {

    padding: 10px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: start;
    flex-grow: 2;
    grid-column: 2/span 2;


}

.item-3{
    padding: 10px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    flex-grow: 1;
}
.item-4{
    padding: 10px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    flex-grow: 1;
}

.content {

    display: grid;
    width: 1200px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;


}

.content-2 {
    display: grid;
    justify-content: center;
    margin: 25px;
    width: 1200px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;

}
.content-3 {
    display: grid;
    justify-content: center;
    margin: 25px;
    width: 1200px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;

}

.content-3 {
    display: grid;
    justify-content: center;
    margin: 25px;
    width: 1510px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;

}

.sidebar {

    grid-row: 1/span 2;
    grid-column: 5;

}

.sidebar-content > div {

    border-top: 1px solid;
    border-color: rgb(229 231 235);
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-content {
    overflow-y: scroll;
    height: 700px;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
}

.sidebar-content > div {
    color: red;
    border-top: 1px solid gray;
    padding: 20px;
    text-align: left;
}

.title {
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.title-moving {
    display: flex;
    justify-content: start;
    margin-left: 20%;
    font-size: 22px;
    font-weight: bold;

}


.subtitle {
    color: black;
    font-weight: normal;
    font-size: 20px;
}

.search {
    margin-left: 10px;
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: deepskyblue;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.container {
    width: 45%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;


}
.container-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 45%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;


}

.wrapper-1 {
    margin-left: 17%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;

}


.box-vijesti {
    padding-right: 10px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: rgb(211, 61, 61);
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
.box-vijesti-2 {
    padding-right: 10px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: orange;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
.box-vijesti-3 {
    padding-right: 10px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: green;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
.box-vijesti-4 {
    padding-right: 10px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: Purple;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
.box-vijesti-5 {
    padding-right: 10px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: goldenrod;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
.box-vijesti-6 {
    padding-right: 10px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: steelblue;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
.box-vijesti-7 {
    padding-right: 10px;
    margin-top: 4px;
    margin-right: 10px;
    background-color:dodgerblue;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
.box-vijesti-8 {
    padding-right: 10px;
    margin-top: 4px;
    margin-right: 10px;
    background-color:orange;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}



.sidebar-2 {
    grid-row: 1/span 2;
    grid-column: 5;

}

.sidebar-content-2 {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: start;

}


.sidebar-content-2 > div {
    color: red;
    border-top: 1px solid gray;
    padding: 20px;

}

*/
