*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffff;
}

body{
    width: 100%;
    height: auto;
    overflow: hidden;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgb(229 231 235);
    padding: 0;


}

.logo {
    cursor: pointer;
    width: 150px;
    text-align: center;
    margin-left: 17%;

}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: start;


}

.nav__links li{
    display: flex;
    justify-content: space-between;


}
.li-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 23%;
    margin-top: 10px;
    padding: 10px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(139,144,147);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(139,144,147);
}

.form-group {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
    justify-content: end;
}

input {
    flex: 1 1 auto;
    font-weight: 400;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .3rem 0 0 .3rem;
    outline: 0;
}

button {
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0 .3rem .3rem 0;
    outline: 0;
    margin: 1px;
    padding: 1px;
}



.hashtag__links {
    display: flex;
    justify-content: center;
    padding: 1px;
    list-style: none;
}

.wrap-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.main__news {
    margin: 10px;
    padding: 10px;
    border: 1px solid;

}


.boja-vijesti{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: red;
    display: flex;
    text-align: center;

}
.breaking-news {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}


.breaking-news-photo{
    border: 1px solid;
    border-color: rgb(229 231 235);
    justify-content: center;
    display: flex;
}
.title1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.san-serif {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}



.breaking-news-three {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    justify-content: center;
    display: block;



}
.scene {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: red;
    display: block;
    text-align: left;


}


.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    flex-wrap: wrap;

}


.container-news {
    font-family: sans-serif;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    text-align: left;
    display: block;

}
.title-color{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: purple;

}

.photo img{
    width: 70%;
    grid-area: photo;
    position: relative;
    align-items: end;
}

.photo2 {
    width: 100%;
}



.text-wrap{
    width: 100%;
    position: relative;


}
.text-wrap span{
    text-align: center;
    color:red;
    font-size: 22px;
    font-family: sans-serif;
}

.text-color {
    font-size: 22px;
    font-family: sans-serif;
    margin: 10px 5px 10px 0px;
    border-bottom: 1px solid black;
    border-color: rgb(229 231 235);

}
.breaking-news-four {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}

.breaking-news-four span{
    color: red;
}


.breaking-news-five {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}
.photo5 img {
    grid-area: photo;
    width: 100%;
    object-fit: cover;
    max-height: 100%;

}

.breaking-news-five span{
    color: red;

}

.breaking-news-six {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}

.breaking-news-six span{
    color: red;
}

.breaking-news-seven {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}
.breaking-news-seven span {
    color:red;
}

.separate-nav {
    display: flex;
    justify-content: start;
    font-family: sans-serif;

}

.separate-nav li {
    list-style: none;
}

.wrapper {
    display: flex;
    width: 1280px;
    margin-left: 17%;
    margin-right: 17%;

}

.breaking-news-eight {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}

.breaking-news-eight span{
    color: red;
}
.breaking-news-nine {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}
.breaking-news-nine span{
    color: red;
}

.breaking-news-ten {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}

.breaking-news-ten span{
    color: red;
}

.breaking-news-eleven {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    display: block;
    justify-content: center;
}

.breaking-news-eleven span {
    color: red;
}

.side-news {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid;
    border-color: rgb(229 231 235);
    justify-content: center;
}

.side-news span {
    color: red;
}