*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffff;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgb(229 231 235);
    padding: 0;


}

.logo {
    cursor: pointer;
    width: 150px;
    text-align: center;
    margin-left: 20%;

}

.nav__links {
    display: flex;
    justify-content: space-between;
    margin-right: 20%;

}

.nav__links li{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(139,144,147);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(139,144,147);
}

.form-group {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
    justify-content: end;
}

input {
    flex: 1 1 auto;
    font-weight: 400;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .3rem 0 0 .3rem;
    outline: 0;
}

button {
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0 .3rem .3rem 0;
    outline: 0;
    margin: 1px;
    padding: 1px;
}



.hashtag__links {
    display: flex;
    justify-content: center;
    padding: 1px;
    list-style: none;




}

.wrap-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.main__news {
    margin: 10px;
    padding: 10px;
    border: 1px solid;

}


.boja-vijesti{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: red;
    display: block;
    text-align: center;

}
.breaking-news {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
text-align: center;
    display: block;
}
.img1 {
    align-items: center;

}

.breaking-news-photo{
    border: 1px solid;
    border-color: rgb(229 231 235);
    text-align: center;
    display: block;
}
.img2{
    display: block;

}
.politicka-ubistva{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: red;
}
.politika{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.breaking-news-three {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid;
    border-color: rgb(229 231 235);
    text-align: center;
    display: block;

}
.scene {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: red;
    display: block;
    text-align: left;


}

.img3{
    display: block;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

}